@font-face {
    font-family: 'Laterlock';
    src: url(../resource/font/Laterlocksdemo-vmqJO.otf) format('opentype');
    }

@font-face {
    font-family: 'Waukegan';
    src: url(../resource/font/WaukeganLdo-ax19.ttf) format('truetype');
}