@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
body {
  display: grid;
  grid-template-areas:
        "header1"
        "header2"
        "line"
        "content"
        "footer";
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;

  --var-primary: #ff5f00;
  --var-secondary: #b2a8a8;

  --var--primary-footer: #55433b;
  --var--secondary-footer: #271811;
}

.checked {
  color: orange;
}

/* navbar start */
.nav {
  height: 117px;
  width: 100%;
  background-color: rgba(255, 95, 0, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 0 20px;
  padding-bottom: 10px;
}

.nav .navigation {
  display: flex;
  gap: 10px;
}

.nav .logo {
  margin-top: 10px;
  height: 100px;
}

.nav .links {
  display: flex;
  align-items: end;
  margin-left: auto;
}

.nav a {
  color: white;
  text-decoration: none;
  font-size: 28px;
  font-weight: 700;
  padding: 0 10px;
  padding-bottom: 10px;
}

.nav a:hover {
  transform: scale(1.1);
}

.nav .profile {
  padding-bottom: 10px;
}

/* navbar end */

/* search start */
.search {
  height: 171px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search .search-container {
  width: 932px;
  height: 73px;
  display: flex;
  background-color: aliceblue;
}

.search-input {
  width: 100%;
  height: 100%;
  display: flex;
  border: var(--var-primary) 2px solid;
}

.search-input input {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  font-size: 20px;
  border: none;
  outline: none;
}

.search-input label {
  width: 73px;
  background-color: white;
}

.search-input button {
  width: 150px;
  height: 100%;
  background-color: var(--var-primary);
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
nav{
  grid-area: header1;
}
section.search{
  grid-area: header2;
}
hr{
  grid-area: line;
}
/* search end */

/* company start */
section.company-list{
  grid-area: content;
}
.company-list {
  display: grid;
  width: 100%;
  height: 110vh;
  grid-template-columns: auto auto auto;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.company-box {
  width: 348px;
  height: 152px;
  border: 2px solid #d9d9d9;
  padding: 10px;
  border-radius: 6px;
}

.company-box .top-container {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}

.company-box .body-container {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 20px 0;
}

.company-box .things {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* company end */

/* footer start */
footer {
  width: 100%;
  min-height: 266px;
  background-color: var(--var--primary-footer);
  grid-area: footer;
}

footer .top-container {
  width: 100%;
  height: 212px;
  display: flex;
  padding: 0 20px;
  align-items: center;
}

footer .top-container .box-navigation {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 100px;
}

footer .top-container .box-navigation .navigation {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #d4d4d4;
}

footer .top-container .box-navigation .navigation p:nth-child(1) {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

footer .top-container .titles {
  font-size: 48px;
  font-weight: 500;
  color: white;
}

footer .bottom-container {
  width: 100%;
  height: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0 20px;
  background-color: var(--var--secondary-footer);
}

.bottom-container .social-media-icons {
  display: flex;
  gap: 20px;
  align-items: end;
}

/* footer end */
