@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;

  --var-primary: #ff5f00;
  --var-secondary: #b2a8a8;

  --var--primary-footer: #55433b;
  --var--secondary-footer: #271811;
}
/* navbar start */
.nav {
  height: 117px;
  width: 100%;
  background-color: rgba(255, 95, 0, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 0 20px;
  padding-bottom: 10px;
}

.nav .navigation {
  display: flex;
  gap: 10px;
}

.nav .logo {
  margin-top: 10px;
  height: 100px;
}

.nav .links {
  display: flex;
  align-items: end;
  margin-left: auto;
}

.nav a {
  color: white;
  text-decoration: none;
  font-size: 28px;
  font-weight: 700;
  padding: 0 10px;
  padding-bottom: 10px;
}

.nav a:hover {
  transform: scale(1.1);
}

.nav .profile {
  padding-bottom: 10px;
}

/* navbar end */

/* Sign-in box start */
.signin-container{
  width: 100%;
  height: 500px;
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.header-text h1{
  margin-top: 30px;
  text-align: center;
}
.signin-box{
  border-radius: 5px;
  border: 2px solid gray;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
.inputs {
  padding: 30px 70px 0px 70px;
  display: flex;
  flex-direction: column;
}
.radios {
  flex-direction: inherit;
}
.inputs input[type=text]{
  margin-bottom: 6px;
}
.inputs input{
  width: 350px;
  height: 25px;
}
.inputs span{
  font-weight: bold;
  margin-left: auto;
  padding-bottom: 30px;
}
.lowers input{
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  padding: 10px 50px;
  border-radius: 5px;
  color: white;
  border: none;
  display: block;
  margin: auto;
  background-color: #FF5F00;
}
.lowers input:hover{
  background-color: #C27900;
}
.lowers h4{
  margin-top: 10px;
  padding-bottom: 5px;
  margin-left: 20px;
}
.lowers span{
  color: #FF5F00;
}
/* Sign-in box end */

/* footer start */
footer {
  width: 100%;
  min-height: 266px;
  background-color: var(--var--primary-footer);
}

footer .top-container {
  width: 100%;
  height: 212px;
  display: flex;
  padding: 0 20px;
  align-items: center;
}

footer .top-container .box-navigation {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 100px;
}

footer .top-container .box-navigation .navigation {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #d4d4d4;
}

footer .top-container .box-navigation .navigation p:nth-child(1) {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

footer .top-container .titles {
  font-size: 48px;
  font-weight: 500;
  color: white;
}

footer .bottom-container {
  width: 100%;
  height: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0 20px;
  background-color: var(--var--secondary-footer);
}

.bottom-container .social-media-icons {
  display: flex;
  gap: 20px;
  align-items: end;
}

/* footer end */